
<link href="~/Assets/admin/css/dung_chung/popup.css" rel="stylesheet" />

<div class="popup-container " id="popup-add-container" role="dialog" aria-labelledby="h3-add" aria-hidden="true" tabindex="-1">
    <div class="popup-model" id="popup-model-add">
        <div class="popup-model-header">

            <h3 id="h3-add">Thêm khung đề</h3>
            <h3 class="you-hide" id="h3-update">Sửa khung đề</h3>
            <h3 id="quit">&times;</h3>
        </div>

        <div id="popup-model-body">
            <div class="one-row-attribute">
                <div class="attribute-name"><label for="ten_khung_de"></label>Tên khung đề:</div>
                <input class="attribute-input" id="ten_khung_de" type="text" required="required">
            </div>
            <div class="one-row-attribute">
                <div class="attribute-name"><label for="thoi_luong_thi">Thời lượng thi:</label></div>
                <input class="attribute-input" id="thoi_luong_thi" type="number" min="45" step="5" required="required">
            </div>
            <div class="one-row-attribute">
                <div class="attribute-name"><label for="mon_thi">Môn thi:</label></div>
                <select name="abc" class="attribute-input" id="mon_thi">
                    
                </select>
            </div>

        </div>

        <div class="popup-submit">
            <input class="create-btn" id="btn-add" type="submit" value="Thêm" onclick="return Add();">
            <input class="create-btn you-hide" id="btn-update" type="submit" value="Sửa" onclick="Update();">
        </div>
    </div>
</div>


<script src="~/Assets/admin/js/khung_de/frameTest_popup.js"></script>
<script src="~/Assets/admin/js/khung_de/loadSelectSubject.js"></script>