
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/admin/css/dung_chung/table2.css" rel="stylesheet" />
<link href="~/Assets/admin/css/dung_chung/file_upload.css" rel="stylesheet" />
<link href="~/Assets/admin/css/dung_chung/popup.css" rel="stylesheet" />

@ViewBag.Message
<div class="inout-row">
    <div>
        <label for="subject-select">Môn học:</label>
        <select name="subject-select" id="subject-select" style="width: 200px;" onchange="changeOption()">
            
        </select>
    </div>
    <div>
        <label for="">Đã thi:</label>
        <input type="checkbox" name="" id="">
    </div>
    <div>
        <label for="">Có đề:</label>
        <input type="checkbox" name="" id="">
    </div>
</div>

<div class="data-table-container"> 
    <div class="row">
        <span>Thông tin học phần</span>
        <div class="row-btn">
            <button onclick="clearD();" id="btn-file-uploader" type="button">Thêm DS Học Phần</button>
        </div>

    </div>
    <div id="custom-data-table">
        <div>
            <div class="choose-num-showed-row-container">
                <lable>
                    Hiển thị
                    <select name="chon-so-luong-hien-thi" id="chon-so-luong-hien-thi">
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    cột
                </lable>
            </div>
        </div>
        <div style="max-height:400px;overflow:auto;">
            <table class="table table-striped">
                <thead>
                    <tr style="border-top: 1px solid #dddddd;">
                        <th>MSSV</th>
                        <th>Họ tên</th>
                        <th>Lớp</th>
                        <th>Giới tính</th>
                        <th>Nhóm học phần</th>
                        <th>Tình trạng</th>
                        <th>Có đề</th>
                    </tr>
                </thead>
                <tbody>
                       
                </tbody>
            </table>
        </div>

        <div class="  khung-pagination">
            <div class="showing-x-to-y">Hiển thị 1-10 trên <div id="so_luong_kq" style="margin:0px 10px"></div> kết quả</div>
            <div class="dataTable_paginate">
                <ul class="pagination">

                    <li class="li-pagination ">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                            </svg>
                        </a>
                    </li>

                    <li class="li-pagination">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 19.5L8.25 12l7.5-7.5" />
                            </svg>
                        </a>
                    </li>
                    <li class="li-pagination  choosed"><a href="#">1</a></li>
                    <li class="li-pagination "><a href="#">2</a></li>
                    <li class="li-pagination "><a href="#">3</a></li>
                    <li class="li-pagination "><a href="#">4</a></li>
                    <li class="li-pagination "><a href="#">5</a></li>

                    <li class="li-pagination ">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        </a>
                    </li>

                    <li class="li-pagination">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_DsHocPhan_PopUpFileUploaderPartialView")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/Assets/admin/js/ds_hoc_phan/ds_hoc_phan.js"></script>
<script src="~/Assets/admin/js/ds_hoc_phan/ds_hoc_phan_popup.js"></script>