/*DataTable Pagination*/
.data-table-container{
    margin-top: 10px; 
    margin-bottom: 30px;
}
.data-table-container span{
    font-size: 22px;
    font-weight: bold; 
    text-transform: uppercase;
}
/* #custom-data-table{
    height: 500px;
}  */
.choose-num-showed-row-container{
    margin-top : 15px
}
table{
    width: 100%; 
    border-spacing: 0; 
    margin-top: 15px;
    border-bottom: 1px solid #dddddd;
    scroll-behavior: smooth;
}
table thead th{
    text-align: left;
}

.table.table-striped tbody td{
    border-top: 1px solid #dddddd;
} 
td,th{
    border-collapse: collapse;
    padding: 10px 15px;
}

.table.table-striped tbody tr:nth-child(odd){
    background: #f2f2f2;
}

.khung-pagination{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

ul.pagination{
    display: flex;
    font-size: 20px;
    border: 0.5px solid #bebebe;
    white-space: nowrap; 
}
ul.pagination li{
    padding: 8px 8px;
    border: 1px solid #bebebe; 
}
ul.pagination li.li-pagination  a{
    margin: 5px 5px;
    width: 30px;
    color: #0d6efd;
}  
ul.pagination li.li-pagination.not-choosable a{ 
    color: #000;
}
ul.pagination li.li-pagination.choosed{
    background: #0d6efd;
}
ul.pagination li.li-pagination.choosed a{
    color: #fff;
}