<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="form1" runat="server">
        <button ID="btn"  >sdfdsf</button>
            <input type="file" ID="FileUpload1" runat="server">
            
        <button ID="btn" runat="server" Text="some">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
                integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript">

                $(function () {
                    $('#btn').click(function () {
                        alert($('input[type=file]').val());
                        return false;

                    });
                });


            </script>
</body>

</html>