<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/de_thi.css">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div id="exam-container">
            <div id="exam-info">

                <div class="exam-name">Kỳ Thi HK2</div>
                <div class="exam-subject">Kỹ thuật lập trình</div>
                <div class="exam-info-row">
                    <div class="one-row-attribute">
                        <div class="attribute-name">Sinh viên:</div>
                        <div class="attribute-info" id="hoten">Nguyễn Văn A</div>
                    </div>
                    <div class="one-row-attribute">
                        <div class="attribute-name">MSSV:</div>
                        <div class="attribute-info" id="mssv">19110991</div>
                    </div>
                </div>
                <div class="exam-info-row">
                    <div class="one-row-attribute">
                        <div class="attribute-name">Thời gian:</div>
                        <div class="attribute-info" id="thoi_gian">90p</div>
                    </div>
                    <div class="one-row-attribute">
                        <div class="attribute-name">Ngày thi:</div>
                        <div class="attribute-info" id="ngay_thi">25/11/2022</div>
                    </div>
                </div>
                <div class="exam-info-row">
                    <div class="one-row-attribute">
                        <div class="attribute-name">Giờ bắt đầu:</div>
                        <div class="attribute-info" id="gio_bd">9:00</div>
                    </div>
                    <div class="one-row-attribute">
                        <div class="attribute-name">Giờ kết thúc:</div>
                        <div class="attribute-info" id="gio_kt">10:30</div>
                    </div>
                </div>
                <div class="exam-info-row">
                    <div class="one-row-attribute">
                        <div class="attribute-name">Đề thi:</div>
                        <div class="attribute-info" id="ma_de_thi">001</div>
                    </div>
                    <div class="one-row-attribute">
                        <div class="attribute-name">Số câu</div>
                        <div class="attribute-info" id="so_cau">40</div>
                    </div>
                </div>


            </div>
            <div class="test-container">
                <div class="one-group-question">
                    <h3 style="font-size: 25px;">Phần 1: Địa lý</h3>
                    <div class="one-question">
                        <div class="question-container">
                            <div class="question-title" id="1">Câu 1:</div>
                            <div class="question">Việt Nam có bao nhiêu tỉnh thành ?</div>
                        </div>
                        <div class="option-container">

                            <div class="one-option">
                                <input type="radio" id="cau1-3" name="cau1" value="62">
                                  <label for="cau1-3">62</label><br>
                            </div>
                            <div class="one-option">
                                <input type="radio" id="cau1-4" name="cau1" value="61">
                                  <label for="cau1-4">61</label><br>
                            </div>
                            <div class="one-option">
                                <input type="radio" id="cau1-3" name="cau1" value="62">
                                  <label for="cau1-3">62</label><br>
                            </div>
                            <div class="one-option">
                                <input type="radio" id="cau1-4" name="cau1" value="61">
                                  <label for="cau1-4">61</label><br>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="row-info-submit">
                <p>Số câu: 40</p>
                <div class="not-done">
                    <p>Số câu chưa làm:</p>
                    <p id="amount-ques-not-done">1</p>
                </div>
            </div> -->
            <div class="row-submit">
                <!-- <input id="btn-start" type="submit" value="Bắt đầu"> -->
                <input id="btn-save" type="submit" value="Lưu bài">
                <input id="btn-done" type="submit" value="Nộp bài">
            </div>
        </div>

        <div class="ques-table">
            <div class="one-cell">
                <div class="cjd"><a href="#1">1</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">2</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">3</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">4</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">5</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">6</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">7</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">8</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd"><a href="">9</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd "><a href="">10</a></div>
            </div>
            <div class="one-cell">
                <div class="cjd done"><a href="#2">11</a></div>
            </div>
        </div>

    </div>
</body>

</html>