<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ds_cau_hoi.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="">
            </div>
            <div class="img-and-name">
                <img src="https://media.gqmagazine.fr/photos/5c768b171109c5304e975cae/16:9/w_1280,c_limit/dragon%20ball.png"
                    alt="">
                <div class="name"><a>Broly</a> </div>

            </div>
            <ul class="item-container">
                <li class="item">
                    <i class="fa-solid fa-house-user"></i>
                    <span href="#">Trang chủ</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-user"></i>
                    <span href="profile.html">Hồ sơ cá nhân</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-users"></i>
                    <span href="#">Sinh viên</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-building-columns"></i>
                    <span href="#">Ngân hàng đề</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-inbox"></i>
                    <span href="#">Tổ chức thi</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-file"></i>
                    <span href="#">Kết quả thi</sp>
                </li>
                <li class="item">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span href="#">Thống kê</span>
                </li>
                <li class="item" id="collapse">
                    <i class="fa-solid fa-gears"></i>
                    <span href="#">Thông tin thi</span>
                    <div class="collapse-container">
                        <ul class="item-collapse-container">
                            <li class="item-collapse">
                                <a>Môn thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Học kỳ</a>
                            </li>
                            <li class="item-collapse">
                                <a>Ca thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Phòng thi</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <i class="fa-sharp fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    <span href="#">Đăng xuất</span>
                </li>
            </ul>
        </div>


        <div class="main-panel">
            <div class="content">
                <div class="row">
                    <h2>Đề 001 - Môn Kỹ thuật lập trình</h2>

                    <div class="show-ans">
                        <h3>Hiện đáp án</h3>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="test-container">
                    <div class="row">
                        <div class="info">Họ tên:..........Lớp:.............</div>
                        <div class="test-number">Đề 001</div>
                    </div>
                    <div class="one-content">
                        <div class="one-gr">
                            <h2>Kiến thức tổng hợp</h2> 
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans right-ans"><input type="radio" id="1"name="1">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="2"name="1">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="1">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="1">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans right-ans"><input type="radio" id="1"name="2">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="2"name="2">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="2">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="2">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans right-ans"><input type="radio" id="1"name="3">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="2"name="3">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="3">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="3">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans right-ans"><input type="radio" id="1"name="4">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="2"name="4">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="4">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="4">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans right-ans"><input type="radio" id="1"name="5">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="2"name="5">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="5">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="5">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                            <div class="one-ques">
                                <div class="ques">Câu 1: using jQuery AJAX and JSON in</div>
                                <div class="ans-content">
                                    <div class="ans "><input type="radio" id="1"name="6">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="ans right-ans" ><input type="radio" id="2"name="6">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="ans"><input type="radio" id="3" name="6">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="ans">
                                        <input type="radio" id="4"name="6">
                                        <label for="4">4</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>