<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/student.css">
    <title>DACN</title>
</head>

<body>
    <div id="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="">
            </div>
            <div class="img-and-name">
                <img src="https://media.gqmagazine.fr/photos/5c768b171109c5304e975cae/16:9/w_1280,c_limit/dragon%20ball.png"
                    alt="">
                <div class="name"><a>Broly</a> </div>

            </div>
            <ul class="item-container">
                <li class="item">
                    <i class="fa-solid fa-house-user"></i>
                    <span href="#">Trang chủ</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-user"></i>
                    <span href="profile.html">Hồ sơ cá nhân</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-users"></i>
                    <span href="#">Sinh viên</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-building-columns"></i>
                    <span href="#">Ngân hàng đề</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-building-columns"></i>
                    <span href="#">Tổ chức thi</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-file"></i>
                    <span href="#">Kết quả thi</sp>
                </li>
                <li class="item">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span href="#">Thống kê</span>
                </li>
                <li class="item" id="collapse">
                    <i class="fa-solid fa-gears"></i>
                    <span href="#">Thông tin thi</span>
                    <div class="collapse-container">
                        <ul class="item-collapse-container">
                            <li class="item-collapse">
                                <a>Môn thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Học kỳ</a>
                            </li>
                            <li class="item-collapse">
                                <a>Ca thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Phòng thi</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <i class="fa-sharp fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    <span href="#">Đăng xuất</span>
                </li>
            </ul>
        </div>


        <div class="main-panel">
            <div class="content">
                <div class="student-page">
                    <div class="btn-add-student-container">
                        <button>Thêm sinh viên</button>
                        <button>Thêm danh sách học phần</button>
                    </div>

                    <div class="student-filter">
                        <span>Lọc theo:</span>
                        <div class="filter">
                            <form action="">
                                <div class="one-row-filter">
                                    <div class="one-student-filter">
                                        <div class="student-filter-name"><label for="semester">Học kỳ:</label></div>
                                        <div class="student-filter-input">
                                            <select name="" id="semester" required>
                                                <option value="choose-semester">Chọn học kỳ</option>
                                                <option value="">1A</option>
                                                <option value="">1B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="one-student-filter">
                                        <div class="student-filter-name"><label for="subject"></label>Môn:</div>
                                        <div class="student-filter-input">
                                            <input type="text" id="subject" name="subject" required>
                                        </div>
                                    </div>
                                    <div class="one-student-filter">
                                        <div class="student-filter-name">
                                            <label for="subject-gr">Nhóm học phần</label>
                                        </div>
                                        <div class="student-filter-input">
                                            <input type="text" id="subject-gr" name="subject-gr" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="one-row-filter">
                                    <div class="one-student-filter">
                                        <div class="student-filter-name">
                                            <label for="student-id">MSSV:</label>
                                        </div>
                                        <div class="student-filter-input">
                                            <input type="text" id="student-id" name="student-id" required>
                                        </div>
                                    </div>
                                    <div class="one-student-filter">
                                        <div class="student-filter-name">
                                            <label for="student-name">Họ tên:</label>
                                        </div>
                                        <div class="student-filter-input">
                                            <input type="text" id="student-name" name="student-name" required>
                                        </div>
                                    </div>
                                    <div class="one-student-filter">
                                        <div class="student-filter-name">
                                            <label for="student-k">Khóa:</label>
                                        </div>
                                        <div class="student-filter-input">
                                            <input type="text" id="student-k" name="student-k" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="one-row-filter">
                                    <div class="one-student-filter">
                                        <div class="student-filter-name">
                                            <label for="has-exam">Chưa có đề thi:</label>
                                        </div>
                                        <div class="student-filter-input">
                                            <input style="width:50px;" type="checkbox" id="has-exam" name="has-exam">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="data-table-container">
                        <span>Danh sách sinh viên</span>
                        <div id="custom-data-table">
                            <div class="row">
                                <div class="choose-num-showed-row-container">
                                    <lable>
                                        Hiển thị
                                        <select name="chon-so-luong-hien-thi" id="chon-so-luong-hien-thi">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        </select>
                                        cột
                                    </lable>
                                </div>
                            </div>
                            <div class="row" style="max-height:400px;overflow:auto;">
                                <table class="table table-striped"  >
                                    <thead>
                                        <tr  style="border-top: 1px solid #dddddd;">
                                            <th>MSSV</th>
                                            <th>Họ tên</th>
                                            <th>Lớp</th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>Khóa</th> 
                                            <th colspan="2">Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>151</td>
                                            <td>Nguyen van a</td>
                                            <td>19eff</td>
                                            <td>2/5/1999</td>
                                            <td>Nam</td> 
                                            <td>19</td> 
                                            <td class="table-edit-btn-column"><i class="fa-solid fa-pen-to-square"></i>
                                            </td>
                                            <td class="table-delete-btn-column"><i class="fa-solid fa-user-minus"></i>
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                            <div class="row khung-pagination">
                                <div class="showing-x-to-y">Hiển thị 1-10 trên 50 kết quả</div>
                                <div class="dataTable_paginate">
                                    <ul class="pagination">
                                        <li class="li-pagination choosable "><a href="#">Trước</a></li>
                                        <li class="li-pagination choosable choosed"><a href="#">1</a></li>
                                        <li class="li-pagination choosable"><a href="#">2</a></li>
                                        <li class="li-pagination choosable"><a href="#">3</a></li>
                                        <li class="li-pagination not-choosable"><a href="#">...</a></li>
                                        <li class="li-pagination choosable"><a href="#">50</a></li>
                                        <li class="li-pagination choosable"><a href="#">Tiếp</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>