<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/to_chuc_thi.css">
    <title>DACN</title>
</head>

<body>
    <div id="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="">
            </div>
            <div class="img-and-name">
                <img src="https://media.gqmagazine.fr/photos/5c768b171109c5304e975cae/16:9/w_1280,c_limit/dragon%20ball.png"
                    alt="">
                <div class="name"><a>Broly</a> </div>

            </div>
            <ul class="item-container">
                <li class="item">
                    <i class="fa-solid fa-house-user"></i>
                    <span href="#">Trang chủ</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-user"></i>
                    <span href="profile.html">Hồ sơ cá nhân</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-users"></i>
                    <span href="#">Sinh viên</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-building-columns"></i>
                    <span href="#">Ngân hàng đề</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-inbox"></i>
                    <span href="#">Tổ chức thi</span>
                </li>
                <li class="item">
                    <i class="fa-solid fa-file"></i>
                    <span href="#">Kết quả thi</sp>
                </li>
                <li class="item">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span href="#">Thống kê</span>
                </li>
                <li class="item" id="collapse">
                    <i class="fa-solid fa-gears"></i>
                    <span href="#">Thông tin thi</span>
                    <div class="collapse-container">
                        <ul class="item-collapse-container">
                            <li class="item-collapse">
                                <a>Môn thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Học kỳ</a>
                            </li>
                            <li class="item-collapse">
                                <a>Ca thi</a>
                            </li>
                            <li class="item-collapse">
                                <a>Phòng thi</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <i class="fa-sharp fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    <span href="#">Đăng xuất</span>
                </li>
            </ul>
        </div>


        <div class="main-panel">
            <div class="content"> 
                <div class="row">
                    <label for="chon_ngay_bd">Chọn ngày bắt đầu</label>
                    <input type="datetime" name="chon_ngay_bd" id="chon_ngay_bd">
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>